extends /layout

block declarations
    - additional_title      = lingua.settings;
    - body_class            = 'appSettings';
    - include_validation    = true;
    - include_remote        = true;

block additional_css
    link(rel='stylesheet', href='/settings/css/style.css')

block additional_scripts
    script(src='/core/js/plugins/oauth.min.js')
    script.
        $(function() {
            $('body').mcjs();

            $('.parentalControl').on('click', function(e){
                e.preventDefault();
                var that = $(this);
                var clientIDField =  that.parent().parent().find('.device').text();

                if(that.hasClass('lock')){
                    var url  = '/lockClient';
                } else if(that.hasClass('unlock')){
                    var url  = '/unlockClient';
                }

                $.ajax({
                    url: url,
                    type: 'post',
                    data: clientIDField
                }).done(function(data){
                    if(data === 'done'){
                        setTimeout(function(){
                            location.reload();
                        },2000);
                    }
                });
            });

            var itemHeight = $('.configurable-options').height();
            $('.cache-management').height(itemHeight);

            var secondItemHeight = $('.access-table').height()
            $("#oauthContainer").css("min-height",secondItemHeight+'px');


        });

    script(src="/settings/js/jquery.mcjs.settings.js")

block body
    header.settings
        .container
            .row
                a.backlink(href="/") &#xe113;
                h1  #{lingua.settings}
    .container-fluid
        .ui-widget
            .message
                .message
        #settings
            input.oauthKeyHidden(name="oauthKey" type="hidden")
            form.form-horizontal#setup.validate-form(action='/submit',method='post')
                h2 #{lingua.settings_header}

                .configurable-options.col-sm-12.col-md-12.col-lg-10
                    h2 Configurable Options
                    .form-group.mcjs-rc-controllable
                        label.col-md-2(for="moviepath") #{lingua.setting_movielocation}
                        .col-md-10
                            .input-group
                                span.input-group-addon
                                    i.folder.icon
                                input.form-control#moviepath.mcjs-rc-clickable.folder(name="moviepath",type="text",placeholder="#{lingua.settings_placeholder_path}", value= movielocation,data-rule-path="true",data-rule-path="true" data-msg-path="Specify a valid path.")
                    .form-group.mcjs-rc-controllable
                        label.col-md-2(for="musicpath") #{lingua.setting_musiclocation}
                        .col-md-10
                            .input-group
                                span.input-group-addon
                                    i.folder.icon
                                input.form-control#musicpath.mcjs-rc-clickable.folder(name="musicpath",type="text",placeholder="#{lingua.settings_placeholder_path}", value= musiclocation,  data-rule-path="true",  data-msg-path="Specify a valid path.")
                    .form-group.mcjs-rc-controllable
                        label.col-md-2(for="tvpath") #{lingua.setting_tvlocation}
                        .col-md-10
                            .input-group
                                span.input-group-addon
                                    i.folder.icon
                                input.form-control#tvpath.mcjs-rc-clickable.folder(name="tvpath",type="text",placeholder="#{lingua.settings_placeholder_path}", value= tvlocation, data-rule-path="true",  data-msg-path="Specify a valid path.")
                    .form-group.mcjs-rc-controllable
                        label.col-md-2(for="language") #{lingua.setting_language}
                        .col-md-10
                            .input-group
                                span.input-group-addon
                                    i.flag.icon
                                select.form-control#language.mcjs-rc-clickable(name="language")
                                    - for lang in availableLanguages
                                        option(value=lang, selected=lang == language) #{lang}
                    .form-group.mcjs-rc-controllable
                        label.col-md-2(for="country") Country
                        .col-md-10
                            .input-group
                                span.input-group-addon
                                    i.flag.icon
                                select.form-control#country.mcjs-rc-clickable(name="country")
                                    option(value='AF') Afghanistan
                                    option(value='AX') Åland Islands
                                    option(value='AL') Albania
                                    option(value='DZ') Algeria
                                    option(value='AS') American Samoa
                                    option(value='AD') Andorra
                                    option(value='AO') Angola
                                    option(value='AI') Anguilla
                                    option(value='AQ') Antarctica
                                    option(value='AG') Antigua and Barbuda
                                    option(value='AR') Argentina
                                    option(value='AM') Armenia
                                    option(value='AW') Aruba
                                    option(value='AU') Australia
                                    option(value='AT') Austria
                                    option(value='AZ') Azerbaijan
                                    option(value='BS') Bahamas
                                    option(value='BH') Bahrain
                                    option(value='BD') Bangladesh
                                    option(value='BB') Barbados
                                    option(value='BY') Belarus
                                    option(value='BE') Belgium
                                    option(value='BZ') Belize
                                    option(value='BJ') Benin
                                    option(value='BM') Bermuda
                                    option(value='BT') Bhutan
                                    option(value='BO') Bolivia, Plurinational State of
                                    option(value='BQ') Bonaire, Sint Eustatius and Saba
                                    option(value='BA') Bosnia and Herzegovina
                                    option(value='BW') Botswana
                                    option(value='BV') Bouvet Island
                                    option(value='BR') Brazil
                                    option(value='IO') British Indian Ocean Territory
                                    option(value='BN') Brunei Darussalam
                                    option(value='BG') Bulgaria
                                    option(value='BF') Burkina Faso
                                    option(value='BI') Burundi
                                    option(value='KH') Cambodia
                                    option(value='CM') Cameroon
                                    option(value='CA') Canada
                                    option(value='CV') Cape Verde
                                    option(value='KY') Cayman Islands
                                    option(value='CF') Central African Republic
                                    option(value='TD') Chad
                                    option(value='CL') Chile
                                    option(value='CN') China
                                    option(value='CX') Christmas Island
                                    option(value='CC') Cocos (Keeling) Islands
                                    option(value='CO') Colombia
                                    option(value='KM') Comoros
                                    option(value='CG') Congo
                                    option(value='CD') Congo, the Democratic Republic of the
                                    option(value='CK') Cook Islands
                                    option(value='CR') Costa Rica
                                    option(value='CI') Côte d'Ivoire
                                    option(value='HR') Croatia
                                    option(value='CU') Cuba
                                    option(value='CW') Curaçao
                                    option(value='CY') Cyprus
                                    option(value='CZ') Czech Republic
                                    option(value='DK') Denmark
                                    option(value='DJ') Djibouti
                                    option(value='DM') Dominica
                                    option(value='DO') Dominican Republic
                                    option(value='EC') Ecuador
                                    option(value='EG') Egypt
                                    option(value='SV') El Salvador
                                    option(value='GQ') Equatorial Guinea
                                    option(value='ER') Eritrea
                                    option(value='EE') Estonia
                                    option(value='ET') Ethiopia
                                    option(value='FK') Falkland Islands (Malvinas)
                                    option(value='FO') Faroe Islands
                                    option(value='FJ') Fiji
                                    option(value='FI') Finland
                                    option(value='FR') France
                                    option(value='GF') French Guiana
                                    option(value='PF') French Polynesia
                                    option(value='TF') French Southern Territories
                                    option(value='GA') Gabon
                                    option(value='GM') Gambia
                                    option(value='GE') Georgia
                                    option(value='DE') Germany
                                    option(value='GH') Ghana
                                    option(value='GI') Gibraltar
                                    option(value='GR') Greece
                                    option(value='GL') Greenland
                                    option(value='GD') Grenada
                                    option(value='GP') Guadeloupe
                                    option(value='GU') Guam
                                    option(value='GT') Guatemala
                                    option(value='GG') Guernsey
                                    option(value='GN') Guinea
                                    option(value='GW') Guinea-Bissau
                                    option(value='GY') Guyana
                                    option(value='HT') Haiti
                                    option(value='HM') Heard Island and McDonald Islands
                                    option(value='VA') Holy See (Vatican City State)
                                    option(value='HN') Honduras
                                    option(value='HK') Hong Kong
                                    option(value='HU') Hungary
                                    option(value='IS') Iceland
                                    option(value='IN') India
                                    option(value='ID') Indonesia
                                    option(value='IR') Iran, Islamic Republic of
                                    option(value='IQ') Iraq
                                    option(value='IE') Ireland
                                    option(value='IM') Isle of Man
                                    option(value='IL') Israel
                                    option(value='IT') Italy
                                    option(value='JM') Jamaica
                                    option(value='JP') Japan
                                    option(value='JE') Jersey
                                    option(value='JO') Jordan
                                    option(value='KZ') Kazakhstan
                                    option(value='KE') Kenya
                                    option(value='KI') Kiribati
                                    option(value='KP') Korea, Democratic People's Republic of
                                    option(value='KR') Korea, Republic of
                                    option(value='KW') Kuwait
                                    option(value='KG') Kyrgyzstan
                                    option(value='LA') Lao People's Democratic Republic
                                    option(value='LV') Latvia
                                    option(value='LB') Lebanon
                                    option(value='LS') Lesotho
                                    option(value='LR') Liberia
                                    option(value='LY') Libya
                                    option(value='LI') Liechtenstein
                                    option(value='LT') Lithuania
                                    option(value='LU') Luxembourg
                                    option(value='MO') Macao
                                    option(value='MK') Macedonia, the former Yugoslav Republic of
                                    option(value='MG') Madagascar
                                    option(value='MW') Malawi
                                    option(value='MY') Malaysia
                                    option(value='MV') Maldives
                                    option(value='ML') Mali
                                    option(value='MT') Malta
                                    option(value='MH') Marshall Islands
                                    option(value='MQ') Martinique
                                    option(value='MR') Mauritania
                                    option(value='MU') Mauritius
                                    option(value='YT') Mayotte
                                    option(value='MX') Mexico
                                    option(value='FM') Micronesia, Federated States of
                                    option(value='MD') Moldova, Republic of
                                    option(value='MC') Monaco
                                    option(value='MN') Mongolia
                                    option(value='ME') Montenegro
                                    option(value='MS') Montserrat
                                    option(value='MA') Morocco
                                    option(value='MZ') Mozambique
                                    option(value='MM') Myanmar
                                    option(value='NA') Namibia
                                    option(value='NR') Nauru
                                    option(value='NP') Nepal
                                    option(value='NL') Netherlands
                                    option(value='NC') New Caledonia
                                    option(value='NZ') New Zealand
                                    option(value='NI') Nicaragua
                                    option(value='NE') Niger
                                    option(value='NG') Nigeria
                                    option(value='NU') Niue
                                    option(value='NF') Norfolk Island
                                    option(value='MP') Northern Mariana Islands
                                    option(value='NO') Norway
                                    option(value='OM') Oman
                                    option(value='PK') Pakistan
                                    option(value='PW') Palau
                                    option(value='PS') Palestinian Territory, Occupied
                                    option(value='PA') Panama
                                    option(value='PG') Papua New Guinea
                                    option(value='PY') Paraguay
                                    option(value='PE') Peru
                                    option(value='PH') Philippines
                                    option(value='PN') Pitcairn
                                    option(value='PL') Poland
                                    option(value='PT') Portugal
                                    option(value='PR') Puerto Rico
                                    option(value='QA') Qatar
                                    option(value='RE') Réunion
                                    option(value='RO') Romania
                                    option(value='RU') Russian Federation
                                    option(value='RW') Rwanda
                                    option(value='BL') Saint Barthélemy
                                    option(value='SH') Saint Helena, Ascension and Tristan da Cunha
                                    option(value='KN') Saint Kitts and Nevis
                                    option(value='LC') Saint Lucia
                                    option(value='MF') Saint Martin (French part)
                                    option(value='PM') Saint Pierre and Miquelon
                                    option(value='VC') Saint Vincent and the Grenadines
                                    option(value='WS') Samoa
                                    option(value='SM') San Marino
                                    option(value='ST') Sao Tome and Principe
                                    option(value='SA') Saudi Arabia
                                    option(value='SN') Senegal
                                    option(value='RS') Serbia
                                    option(value='SC') Seychelles
                                    option(value='SL') Sierra Leone
                                    option(value='SG') Singapore
                                    option(value='SX') Sint Maarten (Dutch part)
                                    option(value='SK') Slovakia
                                    option(value='SI') Slovenia
                                    option(value='SB') Solomon Islands
                                    option(value='SO') Somalia
                                    option(value='ZA') South Africa
                                    option(value='GS') South Georgia and the South Sandwich Islands
                                    option(value='SS') South Sudan
                                    option(value='ES') Spain
                                    option(value='LK') Sri Lanka
                                    option(value='SD') Sudan
                                    option(value='SR') Suriname
                                    option(value='SJ') Svalbard and Jan Mayen
                                    option(value='SZ') Swaziland
                                    option(value='SE') Sweden
                                    option(value='CH') Switzerland
                                    option(value='SY') Syrian Arab Republic
                                    option(value='TW') Taiwan, Province of China
                                    option(value='TJ') Tajikistan
                                    option(value='TZ') Tanzania, United Republic of
                                    option(value='TH') Thailand
                                    option(value='TL') Timor-Leste
                                    option(value='TG') Togo
                                    option(value='TK') Tokelau
                                    option(value='TO') Tonga
                                    option(value='TT') Trinidad and Tobago
                                    option(value='TN') Tunisia
                                    option(value='TR') Turkey
                                    option(value='TM') Turkmenistan
                                    option(value='TC') Turks and Caicos Islands
                                    option(value='TV') Tuvalu
                                    option(value='UG') Uganda
                                    option(value='UA') Ukraine
                                    option(value='AE') United Arab Emirates
                                    option(value='GB') United Kingdom
                                    option(value='US') United States
                                    option(value='UM') United States Minor Outlying Islands
                                    option(value='UY') Uruguay
                                    option(value='UZ') Uzbekistan
                                    option(value='VU') Vanuatu
                                    option(value='VE') Venezuela, Bolivarian Republic of
                                    option(value='VN') Viet Nam
                                    option(value='VG') Virgin Islands, British
                                    option(value='VI') Virgin Islands, U.S.
                                    option(value='WF') Wallis and Futuna
                                    option(value='EH') Western Sahara
                                    option(value='YE') Yemen
                                    option(value='ZM') Zambia
                                    option(value='ZW') Zimbabwe
                    .form-group.mcjs-rc-controllable
                        label.col-md-2(for="location") #{lingua.setting_location}
                        .col-md-10
                            .input-group
                                span.input-group-addon
                                    i.globe.icon
                                input.form-control#location.mcjs-rc-clickable(name="location",type="text",placeholder="#{lingua.settings_placeholder_location}", value= location,data-rule-required="true", data-msg-required="This field is required.")
                    if spotifyUser !== ""
                        .form-group.mcjs-rc-controllable
                            label.col-md-2(for="spotifyUser") #{lingua.setting_spotify_user}
                            .col-md-10
                                .input-group
                                    span.input-group-addon
                                        i.user.icon
                                    input#spotifyUser.mcjs-rc-clickable(name="spotifyUser",type="text", value=spotifyUser)
                    if spotifyPass !== ""
                        .form-group.mcjs-rc-controllable
                            label.col-md-2(for="spotifyPass") #{lingua.setting_spotify_password}
                            .col-md-10
                                .input-group
                                    span.input-group-addon
                                        i.lock.icon
                                    input.form-control#spotifyPass.mcjs-rc-clickable(name="spotifyPass",type="password", value=spotifyPass)
                    .form-group.mcjs-rc-controllable
                        label.col-md-2(for="screensaver") Screensaver
                        .col-md-10
                            .input-group
                                span.input-group-addon
                                    i.coffee.icon
                                select.form-control#screensaver.mcjs-rc-clickable(name="screensaver")
                                    - for saver in availableScreensavers
                                        option(value=saver, selected=saver == screensaver) #{saver}
                    .form-group.mcjs-rc-controllable
                        label.col-md-2(for="quality") Transcoding quality
                        .col-md-10
                            .input-group
                                span.input-group-addon
                                    i.signal.icon
                                select.form-control#quality.mcjs-rc-clickable(name="quality")
                                    - for quality in availableQuality
                                        option(value=quality, selected=quality == currentQuality) #{quality}
                    .form-group.mcjs-rc-controllable
                        label.col-md-2(for="theme") #{lingua.setting_theme}
                        .col-md-10
                            .input-group
                                span.input-group-addon
                                    i.photo.icon
                                select.form-control#theme.mcjs-rc-clickable(name="theme")
                                    - for theme in themes
                                        option(selected=theme) #{theme}
                    .form-group.mcjs-rc-controllable
                            label.col-md-2(for="schedule") When should data be gathered autmatically?
                            .col-md-10
                                .input-group
                                    span.input-group-addon
                                        i.time.icon
                                    input.form-control#schedule.mcjs-rc-clickable(name="schedule",type="text",placeholder="eg. 12:30", value= schedule,data-rule-required="true", data-msg-required="This field is required.")
                    .form-group.mcjs-rc-controllable
                        label.col-md-2(for="port") #{lingua.setting_port}
                        .col-md-10
                            .input-group
                                span.input-group-addon
                                    i.exchange.icon
                                input.form-control#port.mcjs-rc-clickable(name="port",type="text",placeholder="#{lingua.settings_placeholder_port}", value= port ,data-rule-required="true", data-msg-required="This field is required.")
                    .form-group.mcjs-rc-controllable
                        .col-md-offset-2.col-md-10
                            input.btn.mcjs-rc-clickable(type="submit",value="#{lingua.setting_submit}")
                            input.oauth(name="oauth" type="hidden")

                .cache-management.col-sm-12.col-md-12.col-lg-2
                    h2 Cache management
                    .form-group.mcjs-rc-controllable
                        a.btn.cachelink.mcjs-rc-clickable(data-cachelink="movies")
                            i.trash.icon
                            | #{lingua.settings_clear_cache_movies}
                    .form-group.mcjs-rc-controllable
                        a.btn.cachelink.mcjs-rc-clickable(data-cachelink="albums,tracks")
                            i.trash.icon
                            | #{lingua.settings_clear_cache_music}
                    .form-group.mcjs-rc-controllable
                        a.btn.cachelink.mcjs-rc-clickable(data-cachelink="tvepisodes,tvshows")
                            i.trash.icon
                            | #{lingua.settings_clear_cache_tv}
                    .form-group.mcjs-rc-controllable
                        a.btn.cachelink.mcjs-rc-clickable(data-cachelink="devices")
                            i.trash.icon
                            | #{lingua.settings_clear_cache_device}
                    h2 Scraper data
                    .form-group.mcjs-rc-controllable
                        a.btn.scraperlink.mcjs-rc-clickable(data-scraperlink="movies")
                            i.cloud.download.icon
                            | Get movie metadata
                    .form-group.mcjs-rc-controllable
                        a.btn.scraperlink.mcjs-rc-clickable(data-scraperlink="music")
                            i.cloud.download.icon
                            | Get music metadata
                    .form-group.mcjs-rc-controllable
                        a.btn.scraperlink.mcjs-rc-clickable(data-scraperlink="tv")
                            i.cloud.download.icon
                            | Get tv Metadata
                    .form-group.mcjs-rc-controllable
                        a.btn.scraperlink.mcjs-rc-clickable(data-scraperlink="all")
                            i.cloud.download.icon
                            | Get all metadata
                .access-table.col-sm-12.col-md-12.col-lg-10
                    h2 Access management
                    .form-group.mcjs-rc-controllable
                        br
                        -if(allowed === 'yes' && devices !== undefined)
                            strong #{lingua.settings_device_connected}:
                            table.table
                                thead
                                    tr
                                        th #{lingua.settings_device_id}:
                                        th #{lingua.settings_device_seen}:
                                        th #{lingua.settings_device_allowed}:
                                        th #{lingua.settings_device_parental}:
                                tbody
                                    - each device in devices
                                        tr.mcjs-rc-controllable
                                            td.device= device.device_id
                                            td.seen= device.last_seen
                                            td.active= device.is_active
                                            td
                                                -if (device.is_active !== undefined && device.is_active === 'yes')
                                                    a.parentalControl.btn.mcjs-rc-clickable.lock #{lingua.settings_device_btn_lock}
                                                -else
                                                    a.parentalControl.btn.mcjs-rc-clickable.unlock #{lingua.settings_device_btn_unlock}


                #oauthContainer.col-sm-12.col-md-12.col-lg-2
                    h2 OAUTH Login
                    span.info
                        span.quote &ldquo;
                        span !{lingua.setting_oauth_explanation}
                        span.quote &rdquo;
                    input#oauthKey.mcjs-rc-clickable(name="oauthKey" type="hidden", placeholder="OAuth.io Key", value="")
                    .mcjs-rc-controllable.row
                        a.btn.btn-alternative#oauth(href="#") #{lingua.setting_register_oauth}
                    label(for="oauthKey")

