extends /layout

block declarations
    - additional_title      = lingua.plugin_header;
    - body_class            = 'appPlugins';
    - use_knockout          = true;
    - include_remote        = true;

block additional_css
    link(rel='stylesheet', href='/plugins/css/style.css')

block additional_scripts
    script(src="/plugins/js/jquery.plugins.js")
    
    script.
        $(function() {
            $('body').mcjs();
            $('body').mcjsp();
        });

block body
    header
        .container
            .row
                div.pull-left
                    a.backlink &#xe113;
                    h1 #{lingua.plugin_header}
                div.pull-right(data-bind="visible:upgradeAll().length > 0")
                    a.btn.upgrade.upgrade-all(data-bind="{click: upgradeAllPlugins.bind($data, upgradeAll() )}") Upgrade All
    #wrapper
        div.loading.pull-left
            h2 #{lingua.plugin_loading} 
        div.message.boxed(data-bind="visible:message() != ''")
            span(data-bind="html:message")

        ul.plugins(data-bind="foreach: plugin")
            li.boxed.mcjs-rc-controllable
                .info
                    h2.name(data-bind="text:name")
                    div.desc(data-bind="text:desc")
                    div.version(data-bind="text:version")
                // ko if: isInstalled() === false 
                a.btn.install.mcjs-rc-clickable(data-bind="{click: install}")	#{lingua.plugin_install}
                // /ko	
                // ko if: isInstalled() === true 
                a.btn.remove.mcjs-rc-clickable(data-bind="{click: remove}") #{lingua.plugin_remove}
                // /ko	
                // ko if: isUpgradable() === true 
                a.btn.upgrade.mcjs-rc-clickable(data-bind="{click: upgrade}")  #{lingua.plugin_upgrade}
                // /ko
                .additional-info
                    div.author(data-bind="text:'#{lingua.plugin_by}: '+ author()")
                    div.date(data-bind="text:'#{lingua.plugin_added}: '+date()")
